html,body {
			background:#404040  ;
			position:fixed;
			margin:0px;
			height:100%;
			width:100%;
			border-width:1px;
			padding:0px;
			top:0px;bottom:0px;left:0px;right:0px;
			font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  
	}

#video
	{
		border-style:solid;
		border-width:1px;
		width:320px;
		height:240px;
		position:absolute;
		top:65%;			/*only for display changes top is added*/
	}
	
#wrapper {
   color:#00FF33;
   position:absolute;
   bottom:0;
   padding-left:40%;
   width:70%;
   background:#808080;
}

#AxesContainer{
    width: 200px;
    height: 150px;
    margin: 10px 10px 30px 10px;
    padding: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
}

#infobox{
   border:1px solid;
   border-radius:5px;
   position:absolute;
   padding:10px;
    left:75.5%;
	top:50%; 
	width:320px;
	height:640px;

}